.profile-page-wrap h1.page-title {
  margin-top: 14px;
  margin-bottom: 34px;
}
label {
  margin-top: 24px;
}
label[for="old-password"] {
  margin-top: 16px;
}
.change-password {
  font-size: 12px;
  line-height: 16px;
  color: #3e66fb;
}
.attention-wrap {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #ecf0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/app/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  margin-right: 12px;
}
.modal-content input {
  width: 100%;
  box-sizing: border-box;
}
.modal-content form {
  width: 100%;
}
.modal-content {
  margin-top: 0;
}
.modal-footer button:first-child {
  margin-right: 8px;
}
.create-employee-wrap {
  height: calc(100vh - 59px);
  box-sizing: border-box;
}
.form-group {
  width: 100%;
}
