// reset
body {
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
  // background-color: transparent;
}
a {
  text-decoration: none;
}
textarea:focus,
input:focus {
  outline: none;
}
// global
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
body {
  background-color: #f0f2f3;
  font-family: "Open Sans" !important;
  font-style: normal;
}
.flex-wrap {
  display: flex;
  justify-content: center;
}

// global inputs
label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
}
input {
  border-radius: 8px;
  border: 1px solid #c2c9d1;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px 8px;
}
input:disabled {
  background-color: #f0f2f3;
  color: rgba(0, 0, 0, 0.5);
}
input:focus {
  border-color: #3e66fb;
  caret-color: #3e66fb;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
input.error,
input:focus.error {
  border-color: #f03738;
}
img.error-icon {
  height: 9.5px;
  width: 11px;
  margin-right: 4px;
}
.msg-error {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  background-image: url(/img/app/error.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 15px;
}

// global buttons
button.btn-primary,
button.btn-secondary,
button.btn-danger {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  border: 1px solid;
  padding: 10px 16px;
  cursor: pointer;
}
button.btn-danger {
  background-color: #f03738;
  border-color: #f03738;
  color: #ffffff;
}

button.btn-primary {
  background-color: #3e66fb;
  border-color: #3e66fb;
  color: #ffffff;
}
button.btn-secondary {
  background-color: #fff;
  border-color: #c2c9d1;
  color: #92979d;
}

// layout
.content-wrap {
  background-color: #fff;
  padding: 24px 24px 50px;
  min-height: calc(100vh - 58px);
  box-sizing: border-box;
}
h1.page-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}
// modal
.modal-wrap {
  position: absolute;
  background: #00000094;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal {
  padding: 16px;
  width: 500px;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-title-wrap {
  display: flex;
  align-items: center;
}
.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  display: flex;
}
.modale-title-error {
  width: 32px;
  height: 32px;
  background-color: #fdebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-right: 12px;
}
.modale-title-error img {
  width: 18px;
  height: 16px;
}
.close-modal {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  cursor: pointer;
}
.modal-content {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.modal-footer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

// Users page
.page-users tr td:nth-child(1) {
  width: 33%;
}
.page-users tr td:nth-child(2) {
  width: 25%;
}
.page-users tr td:nth-child(3) {
  width: 17%;
}
.page-users tr td:nth-child(4) {
  width: 25%;
}
// Users broadcasts
.page-broadcasts tr td:nth-child(1) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(2) {
  width: 15%;
}
.page-broadcasts tr td:nth-child(3) {
  width: 15%;
}
.page-broadcasts tr td:nth-child(4) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(5) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(6) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(7) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(8) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(9) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(10) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(11) {
  width: 2%;
}
.page-broadcasts tr td:nth-child(12) {
  width: 5%;
}
.page-broadcasts tr td:nth-child(13) {
  width: 5%;
}
.page-broadcasts tr td:nth-child(14) {
  width: 5%;
}
