.auth-block-wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.auth-block {
  padding: 24px;
  width: 400px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}
.auth-block-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  align-self: center;
}
.auth-block-des {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 24px;
}
.auth-block form {
  width: 100%;
}
.auth-block label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 24px;
  display: inline-block;
}
.auth-block input {
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.auth-block input:focus {
  border: 1px solid #3e66fb;
}
.btn-submit,
.btn-go-login {
  margin-top: 24px;
  padding: 10px;
  background: #3e66fb;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}
a.btn-go-login {
  display: block;
  box-sizing: border-box;
  text-align: center;
}
.btn-forgotten-pass {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  cursor: pointer;
}
