<template>
    <div class="employee">
        <div v-if="dataLoaded" class="employee-table-header">
            <div class="employee-table-header-left">
                <h1>Reports</h1>
            </div>
            <div class="employee-table-header-right">
                <div class="employee-table-header-search">
                    <input v-model="params.searchLike" type="text" placeholder="Search"
                           @keyup.enter="filterOn"> 
                </div>
            </div>
        </div>
        <div v-if="dataLoaded" class="employee-table">
            <div class="employee-table-head">
                <div :class="['employee-table-head-cell', {
                    'cell-sort': params.sort === 'title',
                    'cell-sort-desc': params.order === 'DESC' && params.sort === 'title',
                }]" @click="switchCurrentSort('title')">
                    targetId
                </div>
                <div :class="['employee-table-head-cell', {
                    'cell-sort': params.sort === 'subscribers',
                    'cell-sort-desc': params.order === 'DESC' && params.sort === 'subscribers',
                }]" @click="switchCurrentSort('subscribers')">
                    reporterId
                </div>
                <div :class="['employee-table-head-cell', {
                    'cell-sort': params.sort === 'followers',
                    'cell-sort-desc': params.order === 'DESC' && params.sort === 'followers',
                }]" @click="switchCurrentSort('followers')">
                    reportType
                </div>
                <div :class="['employee-table-head-cell', {
                    'cell-sort': params.sort === 'status',
                    'cell-sort-desc': params.order === 'DESC' && params.sort === 'status',
                }]" @click="switchCurrentSort('status')">
                    comment
                </div>
            </div>

            <div class="employee-table-body">
                <div v-for="(report, idx) in reports" :key="idx" class="employee-table-row">
                    <div class="employee-table-body-cell cell-one-line">
                        <router-link :to="`/reports/edit/${report.id}`">
                            <div>{{ report.targetId }}</div>
                        </router-link>
                    </div>
                    <div class="employee-table-body-cell cell-one-line">
                        <div>{{ report.reporterId }}</div>
                    </div>
                    <div class="employee-table-body-cell cell-one-line">
                        <div>{{ report.reportType }}</div>
                    </div>
                    <div class="employee-table-body-cell cell-one-line">
                        <div>{{ report.comment }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="dataLoaded" class="employee-table-footer">
            <div class="employee-table-footer-left">
                <div>Rows per page:</div>
                <div class="rows-count">
                    {{ params.take }}
                    <button @click="takeListShow = !takeListShow">
                        <img src="/img/app/arrow-down.svg" alt="">
                    </button>
                    <div v-if="takeListShow" v-click-outside="() => takeListShow = false" class="rows-per-page-list">
                        <div v-for="(takeItem, idx) in takeList" :key="idx" class="rows-per-page-list-item">
                            <button @click="changeCountPerPage(takeItem)">{{ takeItem }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="employee-table-footer-right">
                <div class="paggination-items-count">{{ startIndexPaginate+1 }}-{{ currentMaxCount }} of {{ meta.itemCount }} items</div>
                <button class="pagination-prev" @click="prevPagination"><img src="/img/app/arrow-right.svg" alt=""></button>
                <button class="pagination-next" @click="nextPagination"><img src="/img/app/arrow-right.svg" alt=""></button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "Reports",
        data() {
            return {
                reports: [],

                meta: {},

                takeList: [10, 25, 50, 100],
                takeListShow: false,

                dataLoaded: false,
                onSend: false,

                params: {
                    searchLike: null,
                    sort: 'id',
                    order: 'ASC',
                    take: 10,
                    page: 1
                }
            }
        },
        computed: {
            currentMaxCount() {
                if(this.meta.itemCount < this.meta.take) {
                    return this.meta.itemCount
                }
                if(this.meta.take * this.meta.page > this.meta.itemCount) {
                    return this.meta.itemCount
                }
                return this.meta.take * this.meta.page
            },
            startIndexPaginate() {
                if(this.meta.itemCount === 0) {
                    return -1
                } else {
                    return (this.meta.page - 1) * this.params.take
                }
            }
        },
        async created() {
            let res = await this.$api.reports.getAll(this.$route.query)
            console.log('this.data', res)

            // this.reports = res.data
            // this.meta = res.meta // itemCount, page, pageCount, take

            // for(let prop in this.$route.query) {
            //     this.params[prop] = this.$route.query[prop]
            // }
            // this.params.take = res.meta.take
            // this.dataLoaded = true
        },
        methods: {
            async send() {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.reports.getAll(this.params)
                this.$router.push({ name: 'Report', query: this.params })

                this.reports = res.data
                this.meta = res.meta

                this.onSend = false
            },
            filterOn() {
                // this.params.page = 1
                if(this.params.searchLike === "") {
                    this.params.searchLike = null
                }
                this.send()
            },
            switchCurrentSort(sortName) {
                this.params.page = 1
                if(!this.params.sort || this.params.sort !== sortName) {
                    this.params.sort = sortName,
                    this.params.order = 'ASC'
                } else if(this.params.order === 'ASC') {
                    this.params.order = 'DESC'
                } else {
                    this.params.sort = 'id'
                    this.params.order = 'ASC'
                }
                this.send()
            },
            changeCountPerPage(takeItem) {
                this.params.page = 1
                this.params.take = takeItem
                this.takeListShow = false
                this.send()
            },
            prevPagination() {
                if(this.meta.page === 1) {
                    return
                }
                this.params.page = this.meta.page - 1
                this.send()
            },
            nextPagination() {
                if(this.startIndexPaginate + this.meta.take !== this.currentMaxCount) {
                    return false
                }
                this.params.page = this.meta.page + 1
                this.send()
            },
            formatStatus(status) {
                if(status === 'ACTIVE') {
                    return 'Active'
                } else if(status === 'BANNED') {
                    return 'Banned'
                }
                return 'Undefined'
            },
            formatDate(date) {
                return this.$dayjs(date).format('MMMM DD, YYYY')
            },
            formatDateAgo(date) {
                return this.$dayjs(date).fromNow()
            }
        },
    }
</script>

<style lang="scss" scoped src="../assets/scss/users/users.scss" />
