.alert-wrap {
  position: fixed;
  //   top: 10px;
  //   width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
  right: 20px;
}
.alert {
  padding: 13px 11px 13px 32px;
  border-radius: 4px;
  background-size: 15px 13px;
  background-repeat: no-repeat;
  background-position: center left 9px;
}
.alert-info {
  border: 1px solid #cfd9fe;
  background-color: #ecf0ff;
  background-image: url(/img/app/info.svg);
}
.alert-error {
  border: 1px solid #fbcdcd;
  background-color: #fdebeb;
  background-image: url(/img/app/error.svg);
}
.alert-success {
  border: 1px solid #ceefce;
  background-color: #ebf9eb;
  background-image: url(/img/app/success.svg);
}
.alert-text {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
