.user-table-wrap {
  //   display: grid;
  //   grid-template-columns: 50% 50%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
}
.user-table-left {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.user-table-right {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.user-table-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user-table-row:last-child {
  border-bottom: none;
}
.user-table-left {
  padding: 12px 16px;
  width: 34%;
}
.user-table-right {
  padding: 12px 16px;
  width: 66%;
}
.user-table-role {
  color: #f03738;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-table-role img {
  cursor: pointer;
}
.user-table-role-active {
  color: #3cc13b;
}
.input-select {
  border: 2px solid #3e66fb;
  width: 16px;
  height: 16px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.input-select-selected .input-select-circle {
  display: block;
}
.input-select-circle {
  display: none;
  background-color: #3e66fb;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.radio-btn-item {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
}

.unblock-modal-wrap .modal-content {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.unblock-modal-wrap .modal-content {
  margin-top: 14px;
}
.text-area {
  box-sizing: border-box;
  resize: none;
  padding: 10px 8px;
  border: 1px solid #c2c9d1;
  border-radius: 8px;
  margin-top: 24px;
  width: 100%;
  min-height: 69px;
}
.cancel-btn {
  margin-right: 8px;
}
.cancel-btn,
.btn-danger,
.btn-primary {
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.btn-wrap {
  margin-top: 40px;
}
.attention-wrap {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: #ecf0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/app/info.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.unblock-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  width: 100%;
  margin-top: 16px;
  text-align: center;
}
.unblock-modal-wrap .modal-footer {
  justify-content: center;
}
.cancel-btn {
  margin-left: 8px;
}
// edit channel
.edit-channel h1 {
  margin-top: 14px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-wrap {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -24px;
  padding: 0 24px;
}
.tabs-item {
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #3e66fb;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  top: 1px;
  background: #fff;
}
.tabs-item-active {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
}
.edit-channel .btn-danger {
  line-height: 18px;
}
