.employee {
  background-color: #fff;
  padding: 24px 24px 50px;
  min-height: calc(100vh - 58px);
  box-sizing: border-box;
}
.employee-table-header {
  display: flex;
  justify-content: space-between;
}
.employee-table-header-right {
  display: flex;
  align-items: center;
}
h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-top: 14px;
}
.employee-table-header-search input {
  padding: 10px 36px 10px 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid #c2c9d1;
  background-image: url("/img/app/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.employee-table-header-search {
  margin-right: 24px;
}
.employee-table-header-create a {
  padding: 10px 16px 10px 8px;
  background: #3e66fb;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.employee-table-header-create img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.employee-table,
.v-data-table__wrapper {
  margin-top: 22px;
  border-radius: 4px;
  border: 1px solid #c2c9d1;
  border-bottom: none;
}
.employee-table-head {
  display: grid;
  grid-template-columns: 33% 25% 17% 25%;
}
.employee-table-head .employee-table-head-cell {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  padding: 26px 16px 14px;
  border-bottom: 1px solid #c2c9d1;
  border-right: 1px solid #c2c9d1;
  background-repeat: no-repeat;
  background-position: top 31px right 22px;
  cursor: pointer;

  position: relative;
}
.employee-table-head .employee-table-head-cell:before,
.sortable:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  right: 0px;
  background: url(/img/app/triangle.svg) 0 0 no-repeat;
}
.sortable {
  background: red;
}
.employee-table-head .cell-sort:before {
  background: url(/img/app/triangle-blue.svg) 0 0 no-repeat;
}
.employee-table-head .cell-sort-desc:before {
  transform: rotate(180deg);
  background-position: 22px 6px;
}
.employee-table-head .employee-table-head-cell:last-child {
  border-right: none;
}
.employee-table-row {
  display: grid;
  grid-template-columns: 33% 25% 17% 25%;
}
.employee-table-body-cell {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  padding: 12px 16px;
  border-bottom: 1px solid #c2c9d1;
  border-right: 1px solid #c2c9d1;
}
.employee-table-body-cell a {
  color: #000000;
}
.status-inactive {
  color: #f03738;
}
.status-active {
  color: #3cc13b;
}
.employee-table-body-cell:last-child {
  border-right: none;
}
.employee-table-sub-title {
  color: rgba(0, 0, 0, 0.5);
}
.employee-table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.employee-table-footer-left {
  margin-left: 16px;
  display: flex;
}
.rows-count {
  margin-left: 12px;
}
.rows-count img {
  margin-left: 6px;
  margin-top: -9px;
  cursor: pointer;
  display: block;
  width: 8px;
  height: 6px;
}
.cell-one-line {
  display: flex;
  align-items: center;
}
.employee-table-footer-right {
  display: flex;
}
.paggination-items-count {
  margin-right: 48px;
}
button.pagination-prev img {
  transform: rotate(180deg);
}
button.pagination-prev {
  margin-right: 37px;
}
button.pagination-next {
  margin-right: 24px;
}
.rows-per-page-list {
  position: absolute;
}

// channels
.channels-wrap .employee-table-head {
    grid-template-columns: 25% 17% 17% 17% 9% 15%;
}
.channels-wrap .employee-table-row {
    display: grid;
    grid-template-columns: 25% 17% 17% 17% 9% 15%;
}
.employee-table-head .employee-table-head-cell.no-sort:before {
    background: none;
}
.channels-wrap .employee-table-body-cell {
  font-weight: normal;
}
.channels-wrap .employee-table-row .employee-table-body-cell:first-child,
.channels-wrap .employee-table-row .employee-table-body-cell:nth-child(5) {
  font-weight: 600;
}