.create-employee-wrap {
  background-color: #fff;
  overflow: auto;
  padding: 24px;
  height: 100vh;
}
.create-employee {
  max-width: 466px;
}
.create-employee h1 {
  margin-bottom: 22px;
}
.create-employee input {
  width: calc(100% - 16px);
}
.form-btn-group {
  display: flex;
  margin-top: 40px;
}
.form-btn-group button:first-child {
  margin-right: 8px;
}
.role-list-wrap .dropdown-icon {
  height: 6px;
  width: 10px;
  margin-right: 5px;
}
.role-list-item-current {
  border-radius: 8px;
  border: 1px solid #c2c9d1;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group.role-list-wrap {
  position: relative;
}
.role-list-items {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 8px 0;
  margin-top: 4px;
  position: absolute;
  width: 100%;
}
.role-list-item {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px 12px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.role-list-item:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #3e66fb;
}
.role-list-item .selected-icon {
  width: 12px;
  height: 15px;
  position: absolute;
  right: 14px;
}
.cancel-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  border: 1px solid;
  padding: 10px 16px;
  cursor: pointer;
  background-color: #fff;
  border-color: #c2c9d1;
  color: #92979d;
}
.checkbox {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid #92979d;
    position: relative;
    top: -1px;
}
.ckeckbox-checked {
  background: #3e66fb;
  background-image: url(/img/app/selected-ckeckbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 9px;
  border: 1px solid transparent;
}
.checkbox-text {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
  cursor: default;
}
.form-group-checkbox {
  display: flex;
  align-items: center;
}

button.del-btn {
  background-color: #F89B9B; // remove
  border-color: #F89B9B;
  margin-left: 10px;
}