.header-wrap {
  border-bottom: 1px solid #c2c9d1;
  background-color: #fff;
  padding: 12px 24px 12px 96px;
  display: flex;
  justify-content: space-between;
}
.header-menu-wrap {
  display: flex;
  align-items: center;
}
.header-wrap a {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px 24px;
}
.user-avatar {
  width: 32px;
  height: 32px;
  background-color: #f8f2ff;
  color: #b57bff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user-menu-dropdown-wrap {
  position: relative;
}
.user-menu-dropdown {
  position: absolute;
  right: 0;
  padding: 8px 0px;
  width: 250px;
  top: 4px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 12%);
  z-index: 9;
}
.user-menu-dropdown .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: default;
}
.user-menu-username {
  padding: 10px 12px 17px;
  display: flex;
}
.user-menu-list {
  display: flex;
  flex-flow: wrap;
  background: #fff;
  padding: 8px 0;
  border-top: 1px solid #F0F2F3;
  border-bottom: 1px solid #F0F2F3;
}
.user-menu-list .user-menu-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
  text-align: left;
  padding: 12px 14px;
  width: 100%;
  margin: 0;
  display: flex;
}
.user-menu-list .user-menu-item:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #3e66fb;
}
.user-menu-list img {
  margin-right: 10px;
}
.user-menu-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.user-menu-email {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.user-menu-name-wrap {
  margin-left: 8px;
}
.user-menu-logout {
  margin-top: 8px;
  padding: 12px 14px;
  display: flex;
  font-size: 14px;
line-height: 20px;
color: #F03738;
    align-items: center;

}
.user-menu-logout img {
  margin-right: 10px;
}