.page-default {
  background-color: #fff;
  padding: 24px 24px 50px;
  min-height: calc(100vh - 58px);
  box-sizing: border-box;
}
.status-inactive {
  color: #f03738;
}
.status-active {
  color: #3cc13b;
}
.table-sub-title {
  color: rgba(0, 0, 0, 0.5);
}

// channels
.channels-wrap .employee-table-head {
  grid-template-columns: 25% 17% 17% 17% 9% 15%;
}
.channels-wrap .employee-table-row {
  display: grid;
  grid-template-columns: 25% 17% 17% 17% 9% 15%;
}
.employee-table-head .employee-table-head-cell.no-sort:before {
  background: none;
}
.channels-wrap .employee-table-body-cell {
  font-weight: normal;
}
.channels-wrap .employee-table-row .employee-table-body-cell:first-child,
.channels-wrap .employee-table-row .employee-table-body-cell:nth-child(5) {
  font-weight: 600;
}
// Users page
::v-deep .page-users tr td:nth-child(1) {
  width: 33%;
}
::v-deep .page-users tr td:nth-child(2) {
  width: 25%;
}
::v-deep .page-users tr td:nth-child(3) {
  width: 17%;
}
::v-deep .page-users tr td:nth-child(4) {
  width: 25%;
}
tr th:nth-child(1) {
  width: 33%;
  background-color: red;
}
th {
  width: 33%;
  background-color: red;
}

th.text-start {
  background-color: currentColor;
}
::v-deep .page-default.page-users table {
  background: red;
}

// remade table
th.text-start {
  text-align: left;
}
.elevation-1 .text-start {
  font-weight: 600;
  font-size: 12px !important;
  line-height: 16px;
  color: #000000;
}
.v-data-table__wrapper {
  margin-top: 22px;
  border-radius: 4px;
  border: 1px solid #c2c9d1;
  border-bottom: none;
}
.v-data-table-header {
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5) !important;
  border-bottom: 1px solid #c2c9d1;
  border-right: 1px solid #c2c9d1;
  background-repeat: no-repeat;
  background-position: top 31px right 22px;
  cursor: pointer;
  position: relative;
}
.text-start a {
  color: #000000;
}
.sortable:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  right: 0px;
  background: url(/img/app/triangle.svg) 0 0 no-repeat;
}
.sortable.desc:before {
  background: url(/img/app/triangle-blue.svg) 0 0 no-repeat;
}
.sortable.asc:before {
  background: url(/img/app/triangle-blue.svg) 0 0 no-repeat;
  transform: rotate(180deg);
  background-position: 22px 6px;
}
th.text-start.sortable {
  position: relative;
}
.v-data-table-header__icon {
  display: none !important;
}
body .v-card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000;
  margin-top: 14px;
  padding: 16px 0;
}
body .v-input {
  flex: 0 0 274px;
  margin-top: 0;
  padding-top: 0;
}
body .v-input__control {
  padding: 0 9px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
body .v-application--is-ltr .v-data-footer__select {
  margin-right: auto;
}
